html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
input,
select,
textarea,
button,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
  font-family: 'Gilroy', 'sans-serif';
  font-size: 16px;
  font-weight: 500;
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
}

img {
  border: 0;
}

:focus {
  outline: 0;
}

:root {
  --transition1: 300ms all;
  --transition2: 500ms all;
  --transition3: 800ms all;
  --transition4: 1s all;
  --color1: #03045E;
  --color2: #5F5F5F;
  --color3: #007DD7;
  --color4: #fff;
  --color5: #DBDBDB;
  --color6: #EDEDED;
  --color7: #EFEFEF;
  --color8: #190748;
  --color9: #C7C7C7;
  --color10: #6A6A6A;
  --color11: #7474A6;
  --color12: #003D95;
  --color13: #262626;
  --color14: #ADADAD;
  --color15: #E2E2E2;
  --color16: #908888;
  --color17: #F8F8F8;
  --color18: #E2F0FB;
  --color19: #393e4c;
}

.header-text {
  position: relative;
  padding: 25px 0 25px 20px;
}

.header-text h3 {
  font-size: 23px;
  color: var(--color8);
}

.header-text h3::before {
  position: absolute;
  content: '';
  left: 0;
  top: 50%;
  width: 10px;
  height: 30px;
  background: rgba(0, 125, 215, 0.16);
  border-radius: 20px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.description-for-blog {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 25px;
}

.description-for-blog img {
  margin-right: 8px;
}

.description-for-blog span {
  font-size: 13px;
  color: var(--color14);
  line-height: 15px;
}

.description-for-blog a {
  font-size: 13px;
  color: #6C6C6C;
}

.description-for-blog h6 {
  font-size: 13px;
  color: var(--color14);
  line-height: 15px;
  padding-left: 25px;
  border-left: 1px solid #C3C0C0;
}

.blog-paragraf p {
  font-size: 15px;
  color: var(--color13);
  margin-bottom: 30px;
  line-height: 20px;
  letter-spacing: .5px;
}

.blog-paragraf .blog-quote {
  background: var(--color18);
  border-radius: 19px;
  padding: 22px 22px 22px 60px;
  margin-bottom: 30px;
  position: relative;
}

.blog-paragraf .blog-quote::after {
  position: absolute;
  content: '';
  top: 8px;
  left: 8px;
  width: 27px;
  height: 27px;
  background: url(../img/icon/quote.svg) no-repeat;
  background-position: 50% 25%;
  border: 2px solid var(--color3);
  border-radius: 50%;
}

.blog-paragraf .blog-quote p {
  margin-bottom: 0;
  color: var(--color8);
}

.blog-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.blog-icons span {
  font-size: 14px;
  color: var(--color8);
  margin-bottom: 15px;
}

.blog-icons ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.blog-icons ul li {
  margin: 0 4px;
}

.blog-icons ul li a i {
  font-size: 20px;
}

.blog-icons ul li:nth-child(1) a i {
  color: #0C68B7;
}

.blog-icons ul li:nth-child(2) a i {
  color: #00A7FF;
}

.blog-icons ul li:nth-child(3) a i {
  color: #1DCB3E;
}

.green-price {
  font-size: 14px;
  color: var(--color4);
  background: #39CE89;
  display: inline;
  border-radius: 3px;
  padding: 3px 7px;
  -webkit-box-shadow: 0 3px 6px rgba(56, 206, 137, 0.33);
          box-shadow: 0 3px 6px rgba(56, 206, 137, 0.33);
}

.red-price {
  font-size: 14px;
  color: var(--color4);
  background: #E55C59;
  display: inline;
  border-radius: 3px;
  padding: 3px 7px;
  -webkit-box-shadow: 0 3px 6px rgba(229, 92, 89, 0.33);
          box-shadow: 0 3px 6px rgba(229, 92, 89, 0.33);
}

.dropdown-btn {
  position: relative;
  width: 110px;
  height: 40px;
  border-radius: 19px;
  border: 3px solid var(--color3);
  background: var(--color4);
  margin-left: 40px;
  font-size: 14px;
  font-weight: 600;
  color: var(--color3);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.dropdown-btn:first-child {
  margin-left: 0px;
}

.exchanges-dropdown,
.buy-dropdown {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  top: 45px;
  right: 50%;
  -webkit-transform: translateX(50%);
          transform: translateX(50%);
  background: var(--color4);
  border-radius: 8px;
  padding: 11px 5px;
  max-width: 250px;
  width: 250px;
  z-index: 2;
  -webkit-transition: 500ms all;
  transition: 500ms all;
}

.exchanges-dropdown > div,
.buy-dropdown > div {
  margin: 0px 0px 16px;
}

.exchanges-dropdown > div img,
.buy-dropdown > div img {
  height: 16px;
  width: 16px;
}

.exchanges-dropdown > div p,
.buy-dropdown > div p {
  line-height: 1.5;
  margin-left: 4px;
  color: var(--color13);
  font-size: 14px;
}

.exchanges-dropdown > div span,
.buy-dropdown > div span {
  color: var(--color14);
  font-size: 11px;
  font-weight: 600;
  line-height: 18px;
}

.exchanges-dropdown .dropdown-img,
.buy-dropdown .dropdown-img {
  width: 100%;
  border-radius: 10px;
  margin-bottom: 10px;
}

.exchanges-dropdown .dropdown-h4,
.buy-dropdown .dropdown-h4 {
  margin-bottom: 4px;
  font-size: 14px;
  font-weight: 600;
  line-height: 21px;
  color: var(--color13);
}

.exchanges-dropdown .dropdown-p,
.buy-dropdown .dropdown-p {
  color: var(--color14);
  margin: 0;
  font-size: 12px;
  line-height: 18px;
  margin-bottom: 16px;
}

.exchanges-dropdown a,
.buy-dropdown a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: var(--color4);
  height: auto;
  min-height: 40px;
  background: #3861fb;
  border: 0px;
  border-radius: 8px;
  cursor: pointer;
  outline: 0px;
  font-weight: 600;
  width: 100%;
  font-size: 14px;
  padding: 8px 24px;
  line-height: 24px;
}

.exchanges-dropdown a i,
.buy-dropdown a i {
  font-size: 12px;
}

.exchanges-dropdown.exchanges-active {
  visibility: visible;
  opacity: 1;
}

.buy-dropdown.buy-active {
  visibility: visible;
  opacity: 1;
}

.form-control,
.btn-check:focus + .btn,
.btn:focus {
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
  outline: 0px !important;
}

.overlay {
  background: rgba(0, 0, 0, 0.7);
  position: fixed;
  top: 0;
  left: 0;
  visibility: hidden;
  opacity: 0;
  width: 101%;
  height: 100%;
  z-index: 4;
  -webkit-transition: var(--transition3);
  transition: var(--transition3);
}

.overlay.active-lay {
  visibility: visible;
  opacity: 1;
}

header .header-top {
  height: 35px;
}

header .header-top .top-nav ul li {
  margin-right: 25px;
}

header .header-top .top-nav ul li a {
  color: var(--color2);
  font-size: 11px;
}

header .header-top .top-money li {
  margin-right: 18px;
}

header .header-top .top-money li a {
  color: var(--color2);
  font-size: 11px;
  -webkit-transition: var(--transition1);
  transition: var(--transition1);
}

header .header-top .top-money li a:hover {
  color: var(--color3);
}

header .header-top .top-login {
  border-left: 1px solid var(--color5);
}

header .header-top .top-login li {
  margin-left: 25px;
}

header .header-top .top-login li .register {
  text-transform: uppercase;
  background: var(--color4);
  color: var(--color2);
  font-size: 11px;
  font-weight: 700;
}

header .header-top .top-login li .login {
  color: var(--color4);
  font-size: 11px;
  font-weight: 700;
  background-color: var(--color3);
  padding: 4px;
  border-radius: 3px;
  text-transform: uppercase;
}

header .navbar-bg {
  background-color: var(--color1);
  height: 100px;
}

header .navbar-bg .navbar-nav li {
  margin: 20px;
}

header .navbar-bg .navbar-nav li a {
  color: #fff;
}

header .navbar-bg .navbar-nav li a.active {
  position: relative;
}

header .navbar-bg .navbar-nav li a.active::after {
  content: '';
  position: absolute;
  width: 8px;
  height: 8px;
  border-radius: 8px;
  bottom: -10px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  background: var(--color4);
}

header .navbar-bg .navbar-nav .search-list {
  margin-right: 0;
}

header .navbar-bg .navbar-nav .search-list button {
  background: var(--color3);
  width: 35px;
  height: 35px;
  border-radius: 8px;
}

#populars {
  background: var(--color6);
}

#populars .populars-text img {
  margin-right: 8px;
}

#populars .populars-text a {
  color: var(--color3);
  font-size: 14px;
}

#populars .populars-swiper {
  height: 45px;
}

#populars .populars-swiper .swiper-wrapper .swiper-slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#populars .populars-swiper .swiper-button-next {
  right: 0;
  left: auto;
  top: 41px;
}

#populars .populars-swiper .swiper-button-next::after {
  content: url(../img/icon/arrow.svg);
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

#populars .populars-swiper .swiper-button-prev {
  right: 0;
  left: auto;
  top: 4px;
}

#populars .populars-swiper .swiper-button-prev::after {
  content: url(../img/icon/arrow.svg);
}

#slider-main {
  padding: 30px 0;
}

#slider-main .slider-main {
  padding-bottom: 50px;
}

#slider-main .slider-main .swiper-slide {
  position: relative;
}

#slider-main .slider-main .swiper-slide img {
  width: 100%;
  height: 270px;
  background-size: cover;
  background-position: 50%;
  border-radius: 20px;
}

#slider-main .slider-main .swiper-slide .slide-text {
  position: absolute;
  bottom: 25px;
  left: 20px;
}

#slider-main .slider-main .swiper-slide .slide-text span {
  color: var(--color5);
  background: var(--color3);
  padding: 7px 12px;
  border-radius: 5px;
  font-size: 12px;
}

#slider-main .slider-main .swiper-slide .slide-text p {
  color: var(--color4);
  font-size: 14px;
  margin-top: 15px;
  line-height: 20px;
  font-weight: 600;
}

#slider-main .slider-main .swiper-pagination {
  width: auto;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  padding: 7px 20px;
  background: var(--color7);
  border-radius: 15px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

#coin-value-capacity {
  padding: 30px 0;
  background: var(--color7);
}

#coin-value-capacity .card {
  background: var(--color4);
  border-radius: 10px;
  margin: 20px 0;
  padding: 16px;
}

#coin-value-capacity .card .card-body {
  overflow-x: auto;
  padding: 0;
}

#coin-value-capacity .card .card-body table {
  width: 100%;
  min-width: 440px;
  border-collapse: collapse;
}

#coin-value-capacity .card .card-body table thead tr th {
  padding: 7px 0;
  background: var(--color6);
  color: var(--color10);
  text-align: right;
}

#coin-value-capacity .card .card-body table thead tr th:first-child {
  border-radius: 4px 0 0 4px;
  padding-left: 20px;
  text-align: left;
}

#coin-value-capacity .card .card-body table thead tr th:last-child {
  border-radius: 0 4px 4px 0;
  text-align: center;
}

#coin-value-capacity .card .card-body table tbody tr {
  height: 65px;
  line-height: 65px;
}

#coin-value-capacity .card .card-body table tbody tr td {
  vertical-align: middle;
  border-bottom: 1px solid #F2F2F2;
}

#coin-value-capacity .card .card-body table tbody tr td h5 {
  display: inline;
  font-size: 14px;
  color: var(--color8);
  margin-right: 12px;
}

#coin-value-capacity .card .card-body table tbody tr td span {
  font-size: 13px;
  color: var(--color9);
}

#crypto-money {
  padding-bottom: 30px;
  background: var(--color7);
}

#crypto-money .card {
  background: var(--color4);
  border-radius: 10px;
  overflow-x: auto;
}

#crypto-money .card .card-body table {
  width: 100%;
  min-width: 720px;
  border-collapse: collapse;
}

#crypto-money .card .card-body table tbody tr {
  height: 65px;
  line-height: 65px;
}

#crypto-money .card .card-body table tbody tr td {
  vertical-align: middle;
  border-bottom: 1px solid #F2F2F2;
}

#crypto-money .card .card-body table tbody tr td:first-child {
  position: -webkit-sticky;
  position: sticky;
  left: 0;
}

#crypto-money .card .card-body table tbody tr td h5 {
  display: inline;
  font-size: 14px;
  color: var(--color8);
  margin-right: 5px;
}

#crypto-money .card .card-body table tbody tr td span {
  font-size: 13px;
  color: var(--color9);
}

#crypto-money .card .card-body table thead .tablesorter-header {
  background-color: var(--color6);
  border-bottom: none;
  white-space: nowrap;
  text-align: end;
}

#crypto-money .card .card-body table thead .tablesorter-header:first-child {
  text-align: start;
}

#crypto-money .card .card-body table thead .tablesorter-header:first-child {
  border-radius: 4px 0 0 4px;
  padding-left: 10px;
  position: -webkit-sticky;
  position: sticky;
  left: 0;
}

#crypto-money .card .card-body table thead .tablesorter-header:last-child {
  border-radius: 0 4px 4px 0;
  padding-right: 20px;
}

#crypto-money .card .card-body table thead .tablesorter-header .tablesorter-header-inner {
  font-size: 11px;
  color: var(--color10);
}

footer {
  background: var(--color1);
  position: relative;
}

footer::after {
  position: absolute;
  content: '';
  top: 0;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 150px;
  height: 12px;
  border-radius: 8px;
  background: var(--color12);
}

footer .footer-top {
  padding: 35px 0 20px;
  border-bottom: 1px solid #053E62;
}

footer .footer-top > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .footer-top .footer-description {
  margin: 15px 0;
}

footer .footer-top .footer-description h3 {
  color: var(--color4);
  font-size: 13px;
}

footer .footer-top .footer-icons {
  margin-bottom: 20px;
}

footer .footer-top .footer-icons ul li {
  margin-right: 25px;
}

footer .footer-top .footer-icons ul li:last-child {
  margin-right: 0;
}

footer .footer-top .footer-icons ul li a {
  color: var(--color11);
}

footer .footer-top .footer-download ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .footer-top .footer-download ul li {
  margin: 0 10px;
}

footer .footer-top .footer-download ul li a {
  color: var(--color11);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 120px;
  height: 35px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  border: 2px solid var(--color11);
  border-radius: 5px;
  font-size: 13px;
}

footer .footer-top .footer-download ul li a i {
  font-size: 20px;
}

footer .footer-bottom {
  padding: 20px 35px;
  text-transform: capitalize;
}

footer .footer-bottom > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .footer-bottom .footer-header {
  margin-bottom: 20px;
}

footer .footer-bottom .footer-header h4 {
  font-size: 26px;
  color: var(--color4);
}

footer .footer-bottom ul li {
  list-style: url(../img/icon/list-style.svg);
  margin-bottom: 15px;
}

footer .footer-bottom ul li:last-child {
  margin-bottom: 0;
}

footer .footer-bottom ul li a {
  color: var(--color4);
  font-size: 13px;
}

footer .copyright {
  background: var(--color12);
  height: 40px;
}

footer .copyright div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

footer .copyright div h6 {
  color: var(--color4);
  font-size: 13px;
}

#main-header {
  padding: 30px 0;
  background: var(--color17);
}

#main-header h2 {
  font-size: 27px;
  color: var(--color13);
  margin-bottom: 5px;
  line-height: 36px;
}

#main-header span {
  font-size: 13px;
  color: var(--color14);
}

#nedir-main {
  background: var(--color7);
  padding: 30px 0;
}

#nedir-main .container {
  background: var(--color4);
  padding: 25px 25px 0 25px;
  border-radius: 10px;
}

#nedir-main .container .nedir-card {
  margin-bottom: 25px;
  background: var(--color4);
}

#nedir-main .container .nedir-card .card {
  border-radius: 10px;
  border-color: var(--color15);
  min-height: 100px;
}

#nedir-main .container .nedir-card .card .card-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#nedir-main .container .nedir-card .card .card-body .nedir-img {
  margin-right: 20px;
}

#nedir-main .container .nedir-card .card .card-body .nedir-text h6 {
  font-size: 15px;
  margin-bottom: 5px;
}

#nedir-main .container .nedir-card .card .card-body .nedir-text span {
  font-size: 15px;
  color: var(--color2);
}

#nedir-main .container .add-card {
  margin-bottom: 25px;
}

#nedir-main .container .add-card .card {
  background: #9DCDF0;
  min-height: 100px;
}

#nedir-main .container .add-card .card .card-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#nedir-main .container .add-card .card .card-body h6 {
  font-size: 13px;
  color: #000;
}

#nedir-main .container .add-card .card .card-body img {
  border: 2px solid var(--color4);
  border-radius: 50%;
  width: 20px;
  height: 20px;
  margin: 0 20px;
  padding: 2px;
}

#blog-listeleme {
  background: var(--color7);
  padding: 30px 0 50px;
}

#blog-listeleme .row > div {
  margin-bottom: 40px;
}

#blog-listeleme .row > div .card {
  border-radius: 10px 10px 0 0;
  overflow: hidden;
  -webkit-box-shadow: 0 12px 20px rgba(0, 0, 0, 0.06);
          box-shadow: 0 12px 20px rgba(0, 0, 0, 0.06);
}

#blog-listeleme .row > div .card-body {
  padding: 20px;
  background: var(--color4);
  border-radius: 0 0 10px 10px;
  overflow: hidden;
  position: relative;
}

#blog-listeleme .row > div .card-body::after {
  position: absolute;
  content: '';
  top: 30px;
  right: 20px;
  width: 26px;
  height: 26px;
  background: url(../img/icon/fire-icon.svg);
}

#blog-listeleme .row > div .card-body h5 {
  font-size: 18px;
  color: var(--color8);
  line-height: 24px;
  letter-spacing: .5px;
  margin-bottom: 15px;
  padding-right: 30px;
}

#blog-listeleme .row > div .card-body p {
  font-size: 13px;
  line-height: 17px;
  color: var(--color16);
  margin: 25px 0 10px;
}

#blog-listeleme .row > div .card-body a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 12px;
  padding: 10px 0;
}

#blog-listeleme .row > div .card-body a img {
  padding-left: 8px;
}

#pagination {
  background: var(--color7);
  padding-bottom: 50px;
}

#pagination nav .pagination .page-item.active a {
  background: var(--color12);
  color: var(--color4);
}

#pagination nav .pagination .page-item .page-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 50px;
  height: 40px;
  font-size: 18px;
  color: #585858;
}

#pagination nav .pagination .page-item .page-link:hover {
  background: var(--color12);
  color: var(--color4);
}

#pagination nav .pagination .page-item .page-link:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
  background: var(--color12);
  color: var(--color4);
}

#blog-detay {
  background: var(--color7);
  padding: 30px 0 100px;
}

#blog-detay .left-side #blog-main {
  margin-bottom: 35px;
}

#blog-detay .left-side #blog-main .card {
  padding: 33px;
  border-radius: 10px;
  -webkit-box-shadow: 0 12px 20px rgba(0, 0, 0, 0.06);
          box-shadow: 0 12px 20px rgba(0, 0, 0, 0.06);
}

#blog-detay .left-side #blog-main .card img {
  margin-bottom: 50px;
}

#blog-detay .left-side #similar-news {
  background: var(--color4);
  border-radius: 10px;
  -webkit-box-shadow: 0 12px 20px rgba(0, 0, 0, 0.06);
          box-shadow: 0 12px 20px rgba(0, 0, 0, 0.06);
  padding: 0 0 33px 33px;
  margin-bottom: 35px;
}

#blog-detay .left-side #similar-news .news-swiper {
  padding-bottom: 50px;
}

#blog-detay .left-side #similar-news .news-swiper .swiper-slide {
  position: relative;
}

#blog-detay .left-side #similar-news .news-swiper .swiper-slide p {
  position: absolute;
  bottom: 24px;
  left: 17px;
  font-size: 11px;
  line-height: 15px;
  color: var(--color4);
}

#blog-detay .left-side #add-comment {
  margin-bottom: 50px;
}

#blog-detay .left-side #add-comment .card {
  background: var(--color4);
  border-radius: 10px;
  -webkit-box-shadow: 0 12px 20px rgba(0, 0, 0, 0.06);
          box-shadow: 0 12px 20px rgba(0, 0, 0, 0.06);
  padding: 0 33px 33px 33px;
}

#blog-detay .left-side #add-comment .card .comment-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #E2F0FA;
  padding: 8px 0;
  border-radius: 8px;
}

#blog-detay .left-side #add-comment .card .comment-info span {
  font-size: 14px;
  color: var(--color8);
}

#blog-detay .left-side #add-comment .card .textarea {
  margin: 10px 0;
}

#blog-detay .left-side #add-comment .card .textarea textarea {
  resize: none;
  border: 2px solid #CBCBCB;
  border-radius: 5px;
  padding: 10px 20px;
  margin-bottom: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

#blog-detay .left-side #add-comment .card .textarea button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
  background: var(--color3);
  color: var(--color4);
  border-radius: 8px;
  padding: 10px;
  -webkit-box-shadow: 0 4px 11px #3C6AD1;
          box-shadow: 0 4px 11px #3C6AD1;
}

#blog-detay .left-side #add-comment .card .comment {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#blog-detay .left-side #add-comment .card .comment .comment-img {
  width: 56px;
  height: 56px;
  border-radius: 10px;
}

#blog-detay .left-side #add-comment .card .comment .comment-img img {
  width: auto;
  height: 100%;
}

#blog-detay .left-side #add-comment .card .comment .comment-title {
  border-bottom: 1px solid #E2F0FA;
  padding: 10px 0 10px 20px;
}

#blog-detay .left-side #add-comment .card .comment .comment-title h4 {
  font-size: 19px;
  color: var(--color8);
  line-height: 26px;
}

#blog-detay .left-side #add-comment .card .comment .comment-title span {
  font-size: 15px;
  line-height: 20px;
  color: var(--color16);
  margin-bottom: 8px;
  display: block;
}

#blog-detay .left-side #add-comment .card .comment .comment-title p {
  font-size: 14px;
  line-height: 19px;
  color: var(--color13);
  letter-spacing: .5px;
}

#blog-detay .right-side .news-side {
  border-radius: 10px;
  overflow: hidden;
  -webkit-box-shadow: 0 12px 20px rgba(0, 0, 0, 0.06);
          box-shadow: 0 12px 20px rgba(0, 0, 0, 0.06);
  margin-bottom: 35px;
}

#blog-detay .right-side .news-side .header-text {
  background: var(--color4);
  padding: 25px 30px;
}

#blog-detay .right-side .news-side .header-text h3::before {
  left: 10px;
}

#blog-detay .right-side .news-side .other-news .card {
  border: none;
  padding: 0 10px;
}

#blog-detay .right-side .news-side .other-news .card img {
  border-radius: 10px;
}

#blog-detay .right-side .news-side .other-news .card-body {
  background: var(--color4);
  padding: 10px;
}

#blog-detay .right-side .news-side .other-news .card-body h5 {
  font-size: 18px;
  line-height: 24px;
  color: var(--color8);
  padding: 10px 0 20px;
}

#blog-detay .right-side .email-side {
  border-radius: 10px;
  overflow: hidden;
  -webkit-box-shadow: 0 12px 20px rgba(0, 0, 0, 0.06);
          box-shadow: 0 12px 20px rgba(0, 0, 0, 0.06);
  background: var(--color4);
  padding: 16px 30px 30px 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#blog-detay .right-side .email-side .email-img {
  padding-right: 20px;
  position: relative;
}

#blog-detay .right-side .email-side .email-img:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 35px;
  height: 35px;
  background: var(--color3);
  border-radius: 50%;
}

#blog-detay .right-side .email-side .email-img:after {
  content: '';
  position: absolute;
  top: 7px;
  left: 7px;
  width: 30px;
  height: 30px;
  background: url(../img/icon/send.svg) no-repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#blog-detay .right-side .email-side .email-img img {
  width: 30px;
  height: 30px;
}

#blog-detay .right-side .email-side .email-content h5 {
  font-size: 14px;
  font-weight: 600;
  line-height: 19px;
  color: var(--color8);
  margin-bottom: 5px;
}

#blog-detay .right-side .email-side .email-content p {
  font-size: 13px;
  font-weight: 500;
  line-height: 17px;
  color: #747474;
  margin-bottom: 20px;
}

#blog-detay .right-side .email-side .email-content .email-submit {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#blog-detay .right-side .email-side .email-content .email-submit input {
  height: 33px;
  border: 2px solid #CBCBCB;
  border-right: none;
  border-radius: 5px 0 0 5px;
  overflow: hidden;
  width: 100%;
}

#blog-detay .right-side .email-side .email-content .email-submit button {
  height: 33px;
  padding: 0 10px;
  border: 2px solid #CBCBCB;
  border-radius: 0 5px 5px 0;
  font-size: 15px;
  color: #A0A0A0;
}

#tekil {
  padding: 30px 0 100px;
  background: var(--color7);
}

#tekil .container {
  background: var(--color4);
  border-radius: 10px;
  padding: 33px;
}

#contact {
  background: var(--color7);
  padding: 30px 0 100px;
}

#contact .card {
  background: var(--color4);
  border-radius: 10px;
  -webkit-box-shadow: 0 12px 20px rgba(0, 0, 0, 0.06);
          box-shadow: 0 12px 20px rgba(0, 0, 0, 0.06);
  padding: 25px 33px 33px 33px;
  border: none;
}

#contact .card .contact-header {
  margin-bottom: 30px;
}

#contact .card .contact-header h3 {
  font-size: 19px;
  color: var(--color8);
}

#contact .card .contact-map {
  margin-bottom: 22px;
}

#contact .card .contact-map img {
  margin-right: 15px;
}

#contact .card .contact-map span {
  font-size: 16px;
  color: #A9A9AA;
}

#contact .card .contact-tel {
  margin-bottom: 45px;
}

#contact .card .contact-tel img {
  margin-right: 15px;
}

#contact .card .contact-tel span {
  font-size: 16px;
  color: #A9A9AA;
}

#contact .card input {
  border: 2px solid #CBCBCB;
  border-radius: 5px;
  width: 100%;
  padding: 6px 15px;
  margin-bottom: 20px;
}

#contact .card textarea {
  resize: none;
  border: 2px solid #CBCBCB;
  border-radius: 5px;
  width: 100%;
  padding: 10px 20px;
  margin-bottom: 20px;
}

#contact .card button {
  background: var(--color3);
  color: var(--color4);
  padding: 10px 50px;
  font-size: 12px;
  border-radius: 8px;
  -webkit-box-shadow: 0 4px 11px #3C6AD1;
          box-shadow: 0 4px 11px #3C6AD1;
}

#coin-detay-header {
  padding: 30px 0;
  background: var(--color17);
}

#coin-detay-header .cdh-coin {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#coin-detay-header .cdh-coin .cdh-img {
  background: var(--color4);
  border-radius: 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-right: 22px;
}

#coin-detay-header .cdh-coin .cdh-img img {
  width: 60px;
  height: 60px;
}

#coin-detay-header .cdh-coin .cdh-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#coin-detay-header .cdh-coin .cdh-text .cdh-name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#coin-detay-header .cdh-coin .cdh-text .cdh-name h5 {
  margin-right: 22px;
  font-size: 27px;
  line-height: 36px;
  font-weight: 600;
  color: var(--color13);
}

#coin-detay-header .cdh-coin .cdh-text .cdh-name span {
  font-size: 27px;
  font-weight: 500;
  color: var(--color9);
  line-height: 36px;
}

#coin-detay-header .cdh-coin .cdh-text .cdh-info p {
  font-size: 13px;
  line-height: 17px;
  color: #615E62;
}

#coin-detay-tabs {
  background: var(--color7);
  padding: 30px 0;
}

#coin-detay-tabs .card {
  background: var(--color4);
  padding: 30px 0;
  border-radius: 10px;
  -webkit-box-shadow: 0 12px 20px rgba(0, 0, 0, 0.06);
          box-shadow: 0 12px 20px rgba(0, 0, 0, 0.06);
}

#coin-detay-tabs .card .nav-tabs {
  -ms-flex-pack: distribute;
      justify-content: space-around;
  border-bottom: none;
}

#coin-detay-tabs .card .nav-tabs .nav-item .nav-link {
  font-size: 22px;
  font-weight: 500;
  line-height: 30px;
  color: var(--color13);
  border: none;
}

#coin-detay-tabs .card .nav-tabs .nav-item .nav-link.active {
  color: var(--color3);
  background: var(--color4);
}

#tab-content #diagram {
  background: var(--color7);
  padding-bottom: 30px;
}

#tab-content #diagram .card {
  border-radius: 10px;
  background: var(--color4);
  -webkit-box-shadow: 0 12px 20px rgba(0, 0, 0, 0.06);
          box-shadow: 0 12px 20px rgba(0, 0, 0, 0.06);
}

#tab-content #diagram .card .first-detay {
  padding: 19px 33px;
}

#tab-content #diagram .card .first-detay .coin-rank h3 {
  font-size: 21px;
  line-height: 28px;
  font-weight: 500;
  color: #727272;
  margin-right: 17px;
}

#tab-content #diagram .card .first-detay .coin-rank h5 {
  font-size: 11px;
  line-height: 15px;
  background: var(--color6);
  border-radius: 5px;
  color: #727272;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 3px 5px;
}

#tab-content #diagram .card .first-detay ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#tab-content #diagram .card .first-detay ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#tab-content #diagram .card .first-detay ul li span {
  font-size: 14px;
  line-height: 19px;
  color: var(--color10);
  margin-left: 5px;
}

#tab-content #diagram .card .first-detay ul li i {
  font-size: 12px;
}

#tab-content #diagram .card .second-detay {
  padding: 0 33px;
}

#tab-content #diagram .card .second-detay h2 {
  font-size: 45px;
  line-height: 60px;
  color: var(--color13);
  font-weight: 600;
}

#tab-content #diagram .card .second-detay h2 span {
  color: var(--color14);
  font-weight: 700;
}

#tab-content #diagram .card .third-detay {
  padding: 10px 33px 40px 33px;
}

#tab-content #diagram .card .third-detay ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#tab-content #diagram .card .third-detay ul li {
  margin-right: 25px;
}

#tab-content #diagram .card .third-detay ul li:last-child {
  margin-right: 0;
}

#tab-content #coin-data {
  background: var(--color7);
  padding-bottom: 30px;
}

#tab-content #coin-data .card {
  border-radius: 10px;
  background: var(--color4);
  -webkit-box-shadow: 0 12px 20px rgba(0, 0, 0, 0.06);
          box-shadow: 0 12px 20px rgba(0, 0, 0, 0.06);
  padding: 0 33px;
}

#tab-content #coin-data .card .row-data {
  padding: 30px 0;
}

#tab-content #coin-data .card .row-data img {
  margin-bottom: 15px;
}

#tab-content #coin-data .card .row-data .data-1,
#tab-content #coin-data .card .row-data .data-3 {
  font-size: 14px;
  line-height: 19px;
  color: var(--color8);
  font-weight: 500;
}

#tab-content #coin-data .card .row-data .data-2 {
  font-size: 17px;
  line-height: 22px;
  color: var(--color8);
  font-weight: 600;
}

#tab-content #calculation {
  background: var(--color7);
  padding-bottom: 30px;
}

#tab-content #calculation .card {
  background: var(--color4);
  border-radius: 10px;
  -webkit-box-shadow: 0 12px 20px rgba(0, 0, 0, 0.06);
          box-shadow: 0 12px 20px rgba(0, 0, 0, 0.06);
  padding: 0 33px 33px 33px;
}

#tab-content #calculation .card .calculation-tool {
  padding-bottom: 24px;
}

#tab-content #calculation .card label {
  font-size: 18px;
  font-weight: 400;
  color: #BFBFBF;
  margin-bottom: 10px;
}

#tab-content #calculation .card .nice-select,
#tab-content #calculation .card input {
  border: 2px solid #CBCBCB;
  border-radius: 13px;
  font-size: 18px;
  font-weight: 500;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 20px;
}

#tab-content #calculation .card .nice-select ul,
#tab-content #calculation .card input ul {
  width: 100%;
}

#tab-content #coin-news {
  background: var(--color7);
  padding-bottom: 200px;
}

#tab-content #coin-news .card {
  background: var(--color4);
  border-radius: 10px;
  -webkit-box-shadow: 0 12px 20px rgba(0, 0, 0, 0.06);
          box-shadow: 0 12px 20px rgba(0, 0, 0, 0.06);
  padding: 0 0 33px 33px;
}

#tab-content #coin-news .card .swiper-wrapper {
  padding: 0 0 33px 33px;
}

#tab-content #coin-news .card .swiper-wrapper .swiper-slide {
  position: relative;
}

#tab-content #coin-news .card .swiper-wrapper .swiper-slide img {
  width: 100%;
}

#tab-content #coin-news .card .swiper-wrapper .swiper-slide p {
  position: absolute;
  bottom: 24px;
  left: 17px;
  font-size: 11px;
  line-height: 15px;
  color: var(--color4);
}

#tab-content #coin-news .card .show-all {
  border-radius: 19px;
  border: 3px solid #E2F0FA;
  width: 160px;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 14px;
  color: var(--color3);
}

@media (min-width: 992px) {
  #mobile-header {
    display: none;
  }
}

@media (max-width: 992px) {
  header {
    display: none;
  }
  .search-box .search-close {
    top: 20px;
    right: 30px;
  }
  .search-box input {
    top: 20%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    padding: 8px 8px 8px 10px;
    width: 90%;
    font-size: 20px;
  }
  .search-box input::-webkit-input-placeholder {
    font-size: 20px;
  }
  .search-box input:-ms-input-placeholder {
    font-size: 20px;
  }
  .search-box input::-ms-input-placeholder {
    font-size: 20px;
  }
  .search-box input::placeholder {
    font-size: 20px;
  }
  .search-box ul {
    top: 25%;
    left: 5%;
  }
  .search-box ul li {
    margin-bottom: 20px;
  }
  .search-box ul li a {
    font-size: 24px;
  }
  #mobile-header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 4;
    background-color: var(--color1);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 70px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #mobile-header .mobile-logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #mobile-header .mobile-btns {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  #mobile-header .mobile-btns button {
    width: 35px;
    height: 35px;
    border-radius: 8px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 0 5px;
    background: var(--color3);
  }
  #mobile-header .mobile-btns button img {
    color: #fff;
  }
  #mobile-header .mobile-btns .sidebar-menu {
    position: absolute;
    top: 0;
    left: -100%;
    width: 100vw;
    height: 100vh;
    background: white;
    -webkit-transition: all 400ms;
    transition: all 400ms;
  }
  #mobile-header .mobile-btns .sidebar-menu .close-btn {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  #mobile-header .mobile-btns .sidebar-menu .close-btn .close-span {
    margin-right: 20px;
    margin-top: 10px;
    height: 30px;
    width: 2px;
    background: black;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    position: relative;
  }
  #mobile-header .mobile-btns .sidebar-menu .close-btn .close-span::after {
    content: " ";
    height: 30px;
    width: 2px;
    background: black;
    -webkit-transform: rotate(-80deg);
            transform: rotate(-80deg);
    position: absolute;
    top: 0;
    left: 0;
  }
  #mobile-header .mobile-btns .sidebar-menu nav ul li {
    padding: 20px 20px;
    border-bottom: 1px solid #e9e9e9;
  }
  #mobile-header .mobile-btns .sidebar-menu nav ul li a {
    color: var(--color2);
    font-weight: bold;
    -webkit-transition: all 300ms;
    transition: all 300ms;
  }
  #mobile-header .mobile-btns .sidebar-menu nav ul li:hover a {
    color: var(--color3);
  }
  #mobile-header .mobile-btns .sidebar-menu.active {
    left: 0;
  }
  #populars {
    margin-top: 70px;
  }
  #populars .populars-text {
    padding: 10px 0;
  }
  #populars .populars-text a {
    color: var(--color3);
    font-size: 18px;
  }
  #populars .populars-swiper {
    min-height: 85px;
  }
  #populars .populars-swiper span {
    padding-right: 25px;
    display: block;
  }
  #populars .populars-swiper .swiper-button-next {
    top: 55px;
  }
  #populars .populars-swiper .swiper-button-prev {
    top: 15px;
  }
  footer .footer-bottom {
    padding: 20px 0;
  }
  footer .footer-bottom > div {
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    margin-bottom: 35px;
  }
  footer .footer-bottom > div:last-child {
    margin-bottom: 0;
  }
}
/*# sourceMappingURL=custom.css.map */